.burger-menu {
  display: none;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 25px;
  height: 3px;
  background-color: #616161;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-8px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-7px, -5px);
}
.burger-menu-list{
  background-color: #e1e1e1;
  box-shadow: 0px 0px 15px 0px;
  width: 100%;
  height: 430px;
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  .burger-container{
    margin: 0 auto;
    max-width: 400px;
    height: 430px;
    display: flex;
    align-items: center;
    justify-content: center;
    .burger-list{
      list-style-type: none;
      li{
        padding-top: 20px;
        font-size: 18px;
        text-align: center;
        :hover{
          text-decoration: underline;
        }
        a{
          color: #333;
          text-decoration: none;
        }
      }
    }
  }
}
.show{
  display: block;
}