.footer{
  background: #F8464A;
  height: 536px;
  .footer-container{
    margin: 0 auto;
    max-width: 1300px;
    width: 100%;
    .footer-link{
      padding-left: 50px;
      padding-top: 80px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      .footer-column-link{
        .column-name{
          font-weight: 700;
          margin: 0;
          font-size: 16px;
          line-height: 24px;
          color: #FFFFFF;
          padding-bottom: 24px;
        }
        .column-list{
          list-style-type: none;
          a{
            text-decoration: none;
            color: #FFFFFF;
            :hover{
              text-decoration: underline;
            }
            li{
              padding-bottom: 24px;
              font-size: 16px;
              line-height: 32px;
              color: #E6E6E6;
              font-weight: 400;
            }
          }
        }
      }
    }
    .copyright-social-links{
      padding-left: 50px;
      padding-top: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .copyright{
        font-weight: normal;
        font-size: 16px;
        line-height: 32px;
        color: #FFFFFF;
      }
      .social-links{
        display: flex;
        align-items: center;
        padding-right: 50px;
      }
    }
  }
}