@mixin standard-container($width: 1256px) {
  max-width: $width;
  margin: 0 auto;
  width: 100%;
}

%ball-standard {
  position: absolute;
  width: 45px;
  height: 45px;
}

.main-services {
  .service-container {
    @include standard-container();
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .service-info-block {
      max-width: 994px;

      .service-text {
        font-weight: 800;
        font-size: 36px;
        text-align: center;
        padding-top: 120px;
        padding-bottom: 30px;
        line-height: 49px;
      }

      .service-information {
        font-size: 24px;
        font-weight: 400;
        padding-bottom: 90px;
        text-align: center;
        line-height: 39px;
      }
    }

    .service-wrapper {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding-bottom: 80px;

      .service-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 83px;

        .block-image {
          padding-bottom: 19px;

          .block-figure {
            position: relative;
            width: 76px;
            height: 76px;
          }

          .pink-ball {
            @extend %ball-standard;
            margin-left: 36px;
          }

          .purple-ball {
            @extend %ball-standard;
            margin-left: -10px;
            margin-top: 6px;
          }

          .aqua-ball {
            @extend %ball-standard;
            margin-top: 5px;
            margin-left: 45px;
          }

          .blue-ball {
            @extend %ball-standard;
            margin-top: 5px;
          }

          .red-ball {
            @extend %ball-standard;
            margin-left: 38px;
            margin-top: -2px;
          }

          .yellow-ball {
            @extend %ball-standard;
            margin-left: 20px;
            margin-top: -8px;
          }
        }

        .service-block-text {
          font-weight: 800;
          font-size: 24px;
          padding-bottom: 10px;
          line-height: 33px;
        }

        .service-block-information {
          text-align: center;
          max-width: 298px;
          font-size: 18px;
          font-weight: 400;
          line-height: 28px;
        }
      }
    }
  }
}

.main-company-proposals {
  background: url("./source/main-image/background-prop.png") center center;
  background-size: cover;

  .proposals-image {
    background: #F84646;
    mix-blend-mode: lighten;

    .proposals-container {
      @include standard-container();
      padding: 0 30px 50px 30px;

      .proposals-text {
        text-align: center;
        padding-top: 68px;
        padding-bottom: 10px;
        font-weight: 800;
        font-size: 48px;
        line-height: 64px;
        color: #FFFFFF;
        font-feature-settings: 'liga' off;
      }

      .proposals-information {
        text-align: center;
        color: #FFFFFF;
        font-size: 18px;
        line-height: 32px;
        font-weight: 400;
      }

      .proposals-list {
        padding-top: 60px;

        .section-list {
          display: flex;
          justify-content: space-between;

          div {
            display: flex;
            align-items: center;

            p {
              box-sizing: unset;
              font-size: 18px;
              line-height: 31px;
              font-feature-settings: 'liga' off;
              color: #FFFFFF;
            }

            img {
              padding-left: 55px;
            }
          }

          .first-list-block {
            p {
              max-width: 146px;
              width: 100%;
            }
          }

          .second-list-block {
            p {
              max-width: 199px;
            }
          }

          .third-list-block {
            p {
              max-width: 181px;
            }
          }

          .fourth-list-block {
            p {
              max-width: 182px;
            }
          }
        }
      }
    }
  }
}

.testing-block {
  padding-top: 160px;

  .testing-container {
    @include standard-container();
    padding: 0 30px;

    .first-testing-block {
      display: flex;
      justify-content: space-between;

      img {
        max-width: 504px;
      }

      .first-block-info {
        max-width: 608px;
        padding-right: 30px;

        .testing-info-text {
          font-size: 64px;
          line-height: 76px;
          color: #2E2E2E;
          max-width: 608px;
          padding-bottom: 40px;
        }

        .testing-more-info {
          font-size: 16px;
          line-height: 32px;
          color: #808080;
          max-width: 523px;
          padding-bottom: 80px;
          margin: 0;
        }

        .testing-button {
          max-width: 160px;
          width: 100%;
          padding: 12px 0;
          border: none;
          font-weight: 600;
          font-size: 14px;
          line-height: 24px;
          color: #FFFFFF;
          background: #F84646;
          border-radius: 8px;
        }
      }
    }

    .second-testing-block {
      padding-top: 120px;
      padding-bottom: 160px;
      display: flex;
      justify-content: space-between;

      .testing-second-image {
        display: none;
      }

      .testing-first-image {
        max-width: 504px;
        padding-right: 30px;
      }

      .second-block-info {
        .sec-testing-info-text {
          font-size: 64px;
          line-height: 76px;
          color: #2E2E2E;
          max-width: 548px;
          padding-bottom: 40px;
          margin: 0;
        }

        .sec-testing-more-info {
          font-size: 16px;
          line-height: 32px;
          color: #808080;
          max-width: 523px;
          padding-bottom: 80px;
          margin: 0;
        }

        .sec-testing-button {
          max-width: 160px;
          width: 100%;
          padding: 12px 0;
          border: none;
          font-weight: 600;
          font-size: 14px;
          line-height: 24px;
          color: #FFFFFF;
          background: #F84646;
          border-radius: 8px;
        }
      }
    }
  }
}

.main-links {
  background-color: #F4F5F7;

  .links-container {
    @include standard-container();
    padding: 35px 30px;

    .link-text {
      padding-top: 24px;
      font-weight: 800;
      font-size: 48px;
      line-height: 64px;
      text-align: center;
      font-feature-settings: 'salt' on, 'liga' off;
      color: #18191F;
    }

    .link-disc {
      font-weight: 500;
      font-size: 18px;
      line-height: 32px;
      text-align: center;
      font-feature-settings: 'salt' on, 'liga' off;
      color: #18191F;
      padding-bottom: 48px;
    }

    .link-cards {
      display: flex;
      align-items: center;
      justify-content: center;

      div {
        display: block;

        .card {
          margin-bottom: 24px;
          margin-right: 72px;
          max-width: 170px;
          width: 100%;
          height: 96px;
          background: #FFFFFF;
          box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
          border-radius: 16px;
          display: flex;
          align-items: center;
          justify-content: center;

          p {
            font-weight: 600;
            font-size: 16px;
            line-height: 32px;
            color: #F84646;
            padding-right: 10px;
          }
        }
      }
    }
  }
}

.main-contact-us {
  .contact-us-container {
    @include standard-container();
    padding: 0 30px;

    .users-block {
      padding-top: 160px;
      padding-bottom: 37px;
      display: flex;
      justify-content: center;

      .contact-ball {
        position: absolute;
        margin-left: 23px;
        margin-top: 7px;
      }

      .users {
        position: relative;
      }
    }

    .contact-us-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 160px;

      .contact-us-text {
        font-weight: 800;
        font-size: 48px;
        line-height: 32px;
        text-align: center;
        color: #000000;
        padding-bottom: 20px;
      }

      .contact-us-more {
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
        text-align: center;
        color: #000000;
        padding-bottom: 30px;
      }

      .contact-us-button {
        max-width: 204px;
        width: 100%;
        padding: 25px 0;
        background: #F84646;
        border-radius: 8px;
        font-weight: 600;
        font-size: 24px;
        line-height: 20px;
        color: #FFFFFF;
        border: none;
      }
    }
  }
}
