$mobile-container-width: 570px;
@media screen and (max-width: 616px){
  .header{
    .header-container{
      max-width: $mobile-container-width;
      .navbar{
        padding-bottom: 62px;
      }
      .header-information{
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .information-text{
          text-align: center;
          font-size: 42px;
          line-height: 57px;
          max-width: 335px;
          font-weight: 800;
        }
        .more-information-block{
          font-size: 12px;
          max-width: 335px;
          text-align: center;
        }
        .information-register-block{
          padding-bottom: 84px;
        }
      }
    }
  }
  .main-block{
    .main-services{
      .service-container{
        max-width: $mobile-container-width;
        .service-info-block{
          .service-text{
            font-size: 24px;
            line-height: 33px;
            text-align: center;
            padding-top: 60px;
            padding-bottom: 15px;
          }
          .service-information{
            font-size: 12px;
            line-height: 22px;
            max-width: 334px;
            text-align: center;
          }
        }
        .service-wrapper{
          grid-template-columns: 1fr;
        }
      }
    }
  }
  .main-company-proposals{
    .proposals-image{
      .proposals-container{
        max-width: $mobile-container-width;
        .proposals-text{
          font-size: 36px;
          line-height: 47px;
          padding-top: 50px;
          padding-bottom: 9px;
        }
        .proposals-information{
          font-size: 14px;
          line-height: 32px;
          padding-bottom: 40px;
        }
        .proposals-list{
          .section-list{
            div{
              p{
                font-size: 18px;
                line-height: 25px;
                padding-bottom: 70px;
              }
              img{
                padding-right: 70px;
              }
            }
          }
        }
      }
    }
  }
  .testing-block{
    padding-top: 90px;
    .testing-container{
      max-width: $mobile-container-width;
      .first-testing-block{
        .first-block-info{
          .testing-info-text{
            max-width: 335px;
            font-size: 36px;
          }
          .testing-more-info{
            font-size: 14px;
            max-width: 336px;
          }
          .testing-button{
            max-width: 338px;
            height: 48px;
          }
        }
        img{
          max-width: 335px;
          height: 312px;
          padding-right: 0;
        }
      }
      .second-testing-block{
        padding-bottom: 79px;
        .second-block-info{
          .sec-testing-info-text{
            max-width: 335px;
            font-size: 36px;
          }
          .sec-testing-more-info{
            font-size: 14px;
            max-width: 336px;
          }
          .sec-testing-button{
            max-width: 338px;
            height: 48px;
            width: 100%;
          }
        }
        .testing-second-image{
          max-width: 335px;
          height: 312px;
          padding-left: 0;
        }
      }
    }
  }
  .main-links{
    .links-container{
      max-width: $mobile-container-width;
      .link-text{
        font-size: 36px;
        line-height: 41px;
      }
      .link-disc{
        font-weight: 500;
        font-size: 14px;
        line-height: 32px;
      }
    }
  }
  .main-contact-us{
    .contact-us-container{
      max-width: $mobile-container-width;
      .users-block{
        padding-top: 94px;
      }
      .contact-us-info{
        padding-bottom: 82px;
        .contact-us-text{
          font-weight: 800;
          font-size: 36px;
          line-height: 32px;
        }
        .contact-us-more{
          max-width: 335px;
          font-weight: 500;
          font-size: 14px;
          line-height: 25px;
        }
        .contact-us-button{
          max-width: 124px;
          width: 100%;
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
          padding: 11px 0;
        }
      }
    }
  }
  .footer{
    .footer-container{
      max-width: $mobile-container-width;
      .footer-link{
        grid-template-columns: 1fr;
        .footer-column-link{
          p{
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
      .copyright-social-links{
        padding-bottom: 77px;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .social-links{
          padding-bottom: 70px;
        }
        .copyright{
          order: 2;
        }
      }
    }
  }
}