@use "header";
@use "main";
@use "footer";
@use "tablet_adaptation";
@use "burger-menu";
@use "mobile_adaptation";
body{
  padding: 0;
  margin: 0;
  font-family: 'Manrope', sans-serif;
}
div, p, a, img, form, button{
  box-sizing: border-box;
  margin: 0;
}
ul,li,input{
  margin: 0;
  padding: 0;
}
h1,h2{
  margin: 0;
  padding: 0;
}