.header {
  background: url("./source/header-image/background.png");
  background-size: 100% 100%;
  height: 754px;
}
.header .header-container {
  max-width: 1800px;
  width: 100%;
  margin: 0 auto;
  height: 500px;
}
.header .header-container .navbar {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  padding-top: 35px;
  padding-right: 75px;
  padding-bottom: 125px;
}
.header .header-container .navbar .nav-button-support {
  font-weight: 700;
  color: #FFF;
  width: 91px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background: #F84646;
  line-height: 20px;
}
.header .header-container .navbar .nav-button-support:hover {
  background-color: #f62828;
  cursor: pointer;
}
.header .header-container .nav-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.header .header-container .nav-list a {
  color: black;
  text-decoration: none;
  font-weight: 700;
  padding-right: 40px;
  line-height: 20px;
}
.header .header-container .nav-list a :hover {
  text-decoration: underline;
}
.header .header-container .header-information {
  width: 740px;
  padding-left: 75px;
}
.header .header-container .header-information .information-text {
  font-size: 64px;
  font-weight: 800;
  padding-bottom: 20px;
  line-height: 82px;
}
.header .header-container .header-information .more-information-block {
  font-size: 20px;
  padding-bottom: 50px;
  line-height: 36px;
}
.header .header-container .header-information .information-register-block {
  position: relative;
}
.header .header-container .header-information .information-input {
  height: 73px;
  width: 300px;
  padding-right: 170px;
  padding-left: 32px;
  border: none;
  outline: none;
  background: #FFFFFF;
  border-radius: 8px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.4);
  font-size: 16px;
}
.header .header-container .header-information .information-button {
  font-weight: 700;
  width: 136px;
  height: 61px;
  color: #FFFFFF;
  border: none;
  font-size: 16px;
  background: #F84646;
  border-radius: 8px;
  position: absolute;
  top: 6px;
  left: 359px;
}
.header .header-container .header-information .information-button:hover {
  background-color: #f62828;
  cursor: pointer;
}

.main-services .service-container .service-wrapper .service-block .block-image .yellow-ball, .main-services .service-container .service-wrapper .service-block .block-image .red-ball, .main-services .service-container .service-wrapper .service-block .block-image .blue-ball, .main-services .service-container .service-wrapper .service-block .block-image .aqua-ball, .main-services .service-container .service-wrapper .service-block .block-image .purple-ball, .main-services .service-container .service-wrapper .service-block .block-image .pink-ball {
  position: absolute;
  width: 45px;
  height: 45px;
}

.main-services .service-container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-services .service-container .service-info-block {
  max-width: 994px;
  padding-left: 50px;
  padding-right: 50px;
}
.main-services .service-container .service-info-block .service-text {
  font-weight: 800;
  font-size: 36px;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 30px;
  line-height: 49px;
}
.main-services .service-container .service-info-block .service-information {
  font-size: 24px;
  font-weight: 400;
  padding-bottom: 90px;
  text-align: center;
  line-height: 39px;
}
.main-services .service-container .service-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 80px;
}
.main-services .service-container .service-wrapper .service-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 83px;
}
.main-services .service-container .service-wrapper .service-block .block-image {
  padding-bottom: 19px;
}
.main-services .service-container .service-wrapper .service-block .block-image .block-figure {
  position: relative;
  width: 76px;
  height: 76px;
}
.main-services .service-container .service-wrapper .service-block .block-image .pink-ball {
  margin-left: 36px;
}
.main-services .service-container .service-wrapper .service-block .block-image .purple-ball {
  margin-left: -10px;
  margin-top: 6px;
}
.main-services .service-container .service-wrapper .service-block .block-image .aqua-ball {
  margin-top: 5px;
  margin-left: 45px;
}
.main-services .service-container .service-wrapper .service-block .block-image .blue-ball {
  margin-top: 5px;
}
.main-services .service-container .service-wrapper .service-block .block-image .red-ball {
  margin-left: 38px;
  margin-top: -2px;
}
.main-services .service-container .service-wrapper .service-block .block-image .yellow-ball {
  margin-left: 20px;
  margin-top: -8px;
}
.main-services .service-container .service-wrapper .service-block .service-block-text {
  font-weight: 800;
  font-size: 24px;
  padding-bottom: 10px;
  line-height: 33px;
}
.main-services .service-container .service-wrapper .service-block .service-block-information {
  text-align: center;
  max-width: 298px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.main-company-proposals {
  background: url("./source/main-image/background-prop.png");
  background-size: 100% 100%;
}
.main-company-proposals .proposals-image {
  background: #F84646;
  mix-blend-mode: lighten;
  height: 376px;
}
.main-company-proposals .proposals-image .proposals-container {
  max-width: 1100px;
  margin: 0 auto;
  width: 100%;
}
.main-company-proposals .proposals-image .proposals-container .proposals-text {
  text-align: center;
  padding-top: 68px;
  padding-bottom: 10px;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  color: #FFFFFF;
  font-feature-settings: "liga" off;
}
.main-company-proposals .proposals-image .proposals-container .proposals-information {
  text-align: center;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
}
.main-company-proposals .proposals-image .proposals-container .proposals-list {
  display: flex;
  padding-top: 60px;
}
.main-company-proposals .proposals-image .proposals-container .proposals-list .section-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  margin: 0 auto;
}
.main-company-proposals .proposals-image .proposals-container .proposals-list .section-list p {
  width: 199px;
  color: white;
}
.main-company-proposals .proposals-image .proposals-container .proposals-list .section-list .first-item {
  width: 160px;
}
.main-company-proposals .proposals-image .proposals-container .proposals-list .section-list img {
  padding-right: 40px;
}

.testing-block {
  padding-top: 160px;
}
.testing-block .testing-container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
.testing-block .testing-container .first-testing-block {
  display: flex;
  justify-content: space-between;
}
.testing-block .testing-container .first-testing-block img {
  padding-right: 20px;
  width: 504px;
  height: 480px;
}
.testing-block .testing-container .first-testing-block .first-block-info {
  padding-right: 20px;
  padding-left: 20px;
}
.testing-block .testing-container .first-testing-block .first-block-info .testing-info-text {
  font-size: 64px;
  line-height: 76px;
  color: #2E2E2E;
  max-width: 608px;
  padding-bottom: 40px;
}
.testing-block .testing-container .first-testing-block .first-block-info .testing-more-info {
  font-size: 16px;
  line-height: 32px;
  color: #808080;
  max-width: 523px;
  padding-bottom: 80px;
}
.testing-block .testing-container .first-testing-block .first-block-info .testing-button {
  width: 160px;
  height: 48px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  background: #F84646;
  border-radius: 8px;
}
.testing-block .testing-container .second-testing-block {
  padding-top: 120px;
  padding-bottom: 160px;
  display: flex;
  justify-content: space-between;
}
.testing-block .testing-container .second-testing-block img {
  padding-left: 20px;
  width: 504px;
  height: 480px;
}
.testing-block .testing-container .second-testing-block .second-block-info {
  padding-right: 20px;
  padding-left: 20px;
}
.testing-block .testing-container .second-testing-block .second-block-info .sec-testing-info-text {
  font-size: 64px;
  line-height: 76px;
  color: #2E2E2E;
  max-width: 608px;
  padding-bottom: 40px;
}
.testing-block .testing-container .second-testing-block .second-block-info .sec-testing-more-info {
  font-size: 16px;
  line-height: 32px;
  color: #808080;
  max-width: 523px;
  padding-bottom: 80px;
}
.testing-block .testing-container .second-testing-block .second-block-info .sec-testing-button {
  width: 160px;
  height: 48px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  background: #F84646;
  border-radius: 8px;
}

.main-links {
  height: 603px;
  background-color: #F4F5F7;
}
.main-links .links-container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
.main-links .links-container .link-text {
  padding-top: 59px;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  font-feature-settings: "salt" on, "liga" off;
  color: #18191F;
}
.main-links .links-container .link-disc {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  font-feature-settings: "salt" on, "liga" off;
  color: #18191F;
  padding-bottom: 48px;
}
.main-links .links-container .link-cards {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-links .links-container .link-cards div {
  display: block;
}
.main-links .links-container .link-cards div .card {
  margin-bottom: 24px;
  margin-right: 24px;
  width: 170px;
  height: 96px;
  background: #FFFFFF;
  box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-links .links-container .link-cards div .card p {
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: #F84646;
  padding-right: 10px;
}

.main-contact-us .contact-us-container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
.main-contact-us .contact-us-container .users-block {
  padding-top: 160px;
  padding-bottom: 37px;
  display: flex;
  justify-content: center;
}
.main-contact-us .contact-us-container .users-block .contact-ball {
  position: absolute;
  margin-left: 23px;
  margin-top: 7px;
}
.main-contact-us .contact-us-container .users-block .users {
  position: relative;
}
.main-contact-us .contact-us-container .contact-us-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 160px;
}
.main-contact-us .contact-us-container .contact-us-info .contact-us-text {
  font-weight: 800;
  font-size: 48px;
  line-height: 32px;
  text-align: center;
  color: #000000;
  padding-bottom: 20px;
}
.main-contact-us .contact-us-container .contact-us-info .contact-us-more {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #000000;
  padding-bottom: 30px;
}
.main-contact-us .contact-us-container .contact-us-info .contact-us-button {
  width: 204px;
  height: 70px;
  background: #F84646;
  border-radius: 8px;
  font-weight: 600;
  font-size: 24px;
  line-height: 20px;
  color: #FFFFFF;
  border: none;
}

.main-services .service-container .service-wrapper .service-block .block-image .yellow-ball, .main-services .service-container .service-wrapper .service-block .block-image .red-ball, .main-services .service-container .service-wrapper .service-block .block-image .blue-ball, .main-services .service-container .service-wrapper .service-block .block-image .aqua-ball, .main-services .service-container .service-wrapper .service-block .block-image .purple-ball, .main-services .service-container .service-wrapper .service-block .block-image .pink-ball {
  position: absolute;
  width: 45px;
  height: 45px;
}

.main-services .service-container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-services .service-container .service-info-block {
  max-width: 994px;
  padding-left: 50px;
  padding-right: 50px;
}
.main-services .service-container .service-info-block .service-text {
  font-weight: 800;
  font-size: 36px;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 30px;
  line-height: 49px;
}
.main-services .service-container .service-info-block .service-information {
  font-size: 24px;
  font-weight: 400;
  padding-bottom: 90px;
  text-align: center;
  line-height: 39px;
}
.main-services .service-container .service-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 80px;
}
.main-services .service-container .service-wrapper .service-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 83px;
}
.main-services .service-container .service-wrapper .service-block .block-image {
  padding-bottom: 19px;
}
.main-services .service-container .service-wrapper .service-block .block-image .block-figure {
  position: relative;
  width: 76px;
  height: 76px;
}
.main-services .service-container .service-wrapper .service-block .block-image .pink-ball {
  margin-left: 36px;
}
.main-services .service-container .service-wrapper .service-block .block-image .purple-ball {
  margin-left: -10px;
  margin-top: 6px;
}
.main-services .service-container .service-wrapper .service-block .block-image .aqua-ball {
  margin-top: 5px;
  margin-left: 45px;
}
.main-services .service-container .service-wrapper .service-block .block-image .blue-ball {
  margin-top: 5px;
}
.main-services .service-container .service-wrapper .service-block .block-image .red-ball {
  margin-left: 38px;
  margin-top: -2px;
}
.main-services .service-container .service-wrapper .service-block .block-image .yellow-ball {
  margin-left: 20px;
  margin-top: -8px;
}
.main-services .service-container .service-wrapper .service-block .service-block-text {
  font-weight: 800;
  font-size: 24px;
  padding-bottom: 10px;
  line-height: 33px;
}
.main-services .service-container .service-wrapper .service-block .service-block-information {
  text-align: center;
  max-width: 298px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.main-company-proposals {
  background: url("./source/main-image/background-prop.png");
  background-size: 100% 100%;
}
.main-company-proposals .proposals-image {
  background: #F84646;
  mix-blend-mode: lighten;
  height: 376px;
}
.main-company-proposals .proposals-image .proposals-container {
  max-width: 1100px;
  margin: 0 auto;
  width: 100%;
}
.main-company-proposals .proposals-image .proposals-container .proposals-text {
  text-align: center;
  padding-top: 68px;
  padding-bottom: 10px;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  color: #FFFFFF;
  font-feature-settings: "liga" off;
}
.main-company-proposals .proposals-image .proposals-container .proposals-information {
  text-align: center;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
}
.main-company-proposals .proposals-image .proposals-container .proposals-list {
  display: flex;
  padding-top: 60px;
}
.main-company-proposals .proposals-image .proposals-container .proposals-list .section-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  margin: 0 auto;
}
.main-company-proposals .proposals-image .proposals-container .proposals-list .section-list p {
  width: 199px;
  color: white;
}
.main-company-proposals .proposals-image .proposals-container .proposals-list .section-list .first-item {
  width: 160px;
}
.main-company-proposals .proposals-image .proposals-container .proposals-list .section-list img {
  padding-right: 40px;
}

.testing-block {
  padding-top: 160px;
}
.testing-block .testing-container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
.testing-block .testing-container .first-testing-block {
  display: flex;
  justify-content: space-between;
}
.testing-block .testing-container .first-testing-block img {
  padding-right: 20px;
  width: 504px;
  height: 480px;
}
.testing-block .testing-container .first-testing-block .first-block-info {
  padding-right: 20px;
  padding-left: 20px;
}
.testing-block .testing-container .first-testing-block .first-block-info .testing-info-text {
  font-size: 64px;
  line-height: 76px;
  color: #2E2E2E;
  max-width: 608px;
  padding-bottom: 40px;
}
.testing-block .testing-container .first-testing-block .first-block-info .testing-more-info {
  font-size: 16px;
  line-height: 32px;
  color: #808080;
  max-width: 523px;
  padding-bottom: 80px;
}
.testing-block .testing-container .first-testing-block .first-block-info .testing-button {
  width: 160px;
  height: 48px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  background: #F84646;
  border-radius: 8px;
}
.testing-block .testing-container .second-testing-block {
  padding-top: 120px;
  padding-bottom: 160px;
  display: flex;
  justify-content: space-between;
}
.testing-block .testing-container .second-testing-block img {
  padding-left: 20px;
  width: 504px;
  height: 480px;
}
.testing-block .testing-container .second-testing-block .second-block-info {
  padding-right: 20px;
  padding-left: 20px;
}
.testing-block .testing-container .second-testing-block .second-block-info .sec-testing-info-text {
  font-size: 64px;
  line-height: 76px;
  color: #2E2E2E;
  max-width: 608px;
  padding-bottom: 40px;
}
.testing-block .testing-container .second-testing-block .second-block-info .sec-testing-more-info {
  font-size: 16px;
  line-height: 32px;
  color: #808080;
  max-width: 523px;
  padding-bottom: 80px;
}
.testing-block .testing-container .second-testing-block .second-block-info .sec-testing-button {
  width: 160px;
  height: 48px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  background: #F84646;
  border-radius: 8px;
}

.main-links {
  height: 603px;
  background-color: #F4F5F7;
}
.main-links .links-container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
.main-links .links-container .link-text {
  padding-top: 59px;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  font-feature-settings: "salt" on, "liga" off;
  color: #18191F;
}
.main-links .links-container .link-disc {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  font-feature-settings: "salt" on, "liga" off;
  color: #18191F;
  padding-bottom: 48px;
}
.main-links .links-container .link-cards {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-links .links-container .link-cards div {
  display: block;
}
.main-links .links-container .link-cards div .card {
  margin-bottom: 24px;
  margin-right: 24px;
  width: 170px;
  height: 96px;
  background: #FFFFFF;
  box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-links .links-container .link-cards div .card p {
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: #F84646;
  padding-right: 10px;
}

.main-contact-us .contact-us-container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
.main-contact-us .contact-us-container .users-block {
  padding-top: 160px;
  padding-bottom: 37px;
  display: flex;
  justify-content: center;
}
.main-contact-us .contact-us-container .users-block .contact-ball {
  position: absolute;
  margin-left: 23px;
  margin-top: 7px;
}
.main-contact-us .contact-us-container .users-block .users {
  position: relative;
}
.main-contact-us .contact-us-container .contact-us-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 160px;
}
.main-contact-us .contact-us-container .contact-us-info .contact-us-text {
  font-weight: 800;
  font-size: 48px;
  line-height: 32px;
  text-align: center;
  color: #000000;
  padding-bottom: 20px;
}
.main-contact-us .contact-us-container .contact-us-info .contact-us-more {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #000000;
  padding-bottom: 30px;
}
.main-contact-us .contact-us-container .contact-us-info .contact-us-button {
  width: 204px;
  height: 70px;
  background: #F84646;
  border-radius: 8px;
  font-weight: 600;
  font-size: 24px;
  line-height: 20px;
  color: #FFFFFF;
  border: none;
}

.footer {
  background: #F8464A;
  height: 536px;
}
.footer .footer-container {
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
}
.footer .footer-container .footer-link {
  padding-left: 50px;
  padding-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.footer .footer-container .footer-link .footer-column-link .column-name {
  font-weight: 700;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  padding-bottom: 24px;
}
.footer .footer-container .footer-link .footer-column-link .column-list {
  list-style-type: none;
}
.footer .footer-container .footer-link .footer-column-link .column-list a {
  text-decoration: none;
  color: #FFFFFF;
}
.footer .footer-container .footer-link .footer-column-link .column-list a :hover {
  text-decoration: underline;
}
.footer .footer-container .footer-link .footer-column-link .column-list a li {
  padding-bottom: 24px;
  font-size: 16px;
  line-height: 32px;
  color: #E6E6E6;
  font-weight: 400;
}
.footer .footer-container .copyright-social-links {
  padding-left: 50px;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer-container .copyright-social-links .copyright {
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}
.footer .footer-container .copyright-social-links .social-links {
  display: flex;
  align-items: center;
  padding-right: 50px;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Manrope", sans-serif;
}

div, p, a, img, form, button {
  box-sizing: border-box;
  margin: 0;
}

ul, li, input {
  margin: 0;
  padding: 0;
}

h1, h2 {
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=style.css.map */
