.header {
  background: url("./source/header-image/background.png") center center;
  background-size: cover;
}
.header .header-container {
  max-width: 1256px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}
.header .header-container .navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 125px;
}
.header .header-container .navbar .nav-button-support {
  font-weight: 700;
  color: #FFF;
  max-width: 91px;
  padding: 10px 0;
  width: 100%;
  border: none;
  border-radius: 5px;
  background: #F84646;
  line-height: 20px;
}
.header .header-container .navbar .nav-button-support:hover {
  background-color: #f62828;
  cursor: pointer;
}
.header .header-container .nav-list {
  display: flex;
  list-style-type: none;
}
.header .header-container .nav-list a {
  font-size: 14px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  padding-right: 40px;
  line-height: 20px;
}
.header .header-container .nav-list a :hover {
  text-decoration: underline;
}
.header .header-container .header-information {
  max-width: 665px;
}
.header .header-container .header-information .information-text {
  font-size: 64px;
  font-weight: 800;
  padding-bottom: 20px;
  line-height: 82px;
}
.header .header-container .header-information .more-information-block {
  font-size: 20px;
  padding-bottom: 50px;
  line-height: 36px;
}
.header .header-container .header-information .information-register-block {
  position: relative;
  padding-bottom: 140px;
}
.header .header-container .header-information .information-input {
  max-width: 300px;
  width: 100%;
  padding: 29px 176px 30px 29px;
  border: none;
  outline: none;
  background: #FFFFFF;
  border-radius: 8px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.4);
  font-size: 16px;
}
.header .header-container .header-information .information-button {
  font-weight: 700;
  max-width: 136px;
  width: 100%;
  padding: 21px 0;
  color: #FFFFFF;
  border: none;
  font-size: 16px;
  background: #F84646;
  border-radius: 8px;
  position: absolute;
  top: 6px;
  left: 359px;
}
.header .header-container .header-information .information-button:hover {
  background-color: #f62828;
  cursor: pointer;
}

.main-services .service-container .service-wrapper .service-block .block-image .yellow-ball, .main-services .service-container .service-wrapper .service-block .block-image .red-ball, .main-services .service-container .service-wrapper .service-block .block-image .blue-ball, .main-services .service-container .service-wrapper .service-block .block-image .aqua-ball, .main-services .service-container .service-wrapper .service-block .block-image .purple-ball, .main-services .service-container .service-wrapper .service-block .block-image .pink-ball {
  position: absolute;
  width: 45px;
  height: 45px;
}

.main-services .service-container {
  max-width: 1256px;
  margin: 0 auto;
  width: 100%;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-services .service-container .service-info-block {
  max-width: 994px;
}
.main-services .service-container .service-info-block .service-text {
  font-weight: 800;
  font-size: 36px;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 30px;
  line-height: 49px;
}
.main-services .service-container .service-info-block .service-information {
  font-size: 24px;
  font-weight: 400;
  padding-bottom: 90px;
  text-align: center;
  line-height: 39px;
}
.main-services .service-container .service-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 80px;
}
.main-services .service-container .service-wrapper .service-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 83px;
}
.main-services .service-container .service-wrapper .service-block .block-image {
  padding-bottom: 19px;
}
.main-services .service-container .service-wrapper .service-block .block-image .block-figure {
  position: relative;
  width: 76px;
  height: 76px;
}
.main-services .service-container .service-wrapper .service-block .block-image .pink-ball {
  margin-left: 36px;
}
.main-services .service-container .service-wrapper .service-block .block-image .purple-ball {
  margin-left: -10px;
  margin-top: 6px;
}
.main-services .service-container .service-wrapper .service-block .block-image .aqua-ball {
  margin-top: 5px;
  margin-left: 45px;
}
.main-services .service-container .service-wrapper .service-block .block-image .blue-ball {
  margin-top: 5px;
}
.main-services .service-container .service-wrapper .service-block .block-image .red-ball {
  margin-left: 38px;
  margin-top: -2px;
}
.main-services .service-container .service-wrapper .service-block .block-image .yellow-ball {
  margin-left: 20px;
  margin-top: -8px;
}
.main-services .service-container .service-wrapper .service-block .service-block-text {
  font-weight: 800;
  font-size: 24px;
  padding-bottom: 10px;
  line-height: 33px;
}
.main-services .service-container .service-wrapper .service-block .service-block-information {
  text-align: center;
  max-width: 298px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.main-company-proposals {
  background: url("./source/main-image/background-prop.png") center center;
  background-size: cover;
}
.main-company-proposals .proposals-image {
  background: #F84646;
  mix-blend-mode: lighten;
}
.main-company-proposals .proposals-image .proposals-container {
  max-width: 1256px;
  margin: 0 auto;
  width: 100%;
  padding: 0 30px;
}
.main-company-proposals .proposals-image .proposals-container .proposals-text {
  text-align: center;
  padding-top: 68px;
  padding-bottom: 10px;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  color: #FFFFFF;
  font-feature-settings: "liga" off;
}
.main-company-proposals .proposals-image .proposals-container .proposals-information {
  text-align: center;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
}
.main-company-proposals .proposals-image .proposals-container .proposals-list {
  padding-top: 60px;
}
.main-company-proposals .proposals-image .proposals-container .proposals-list .section-list {
  display: flex;
  justify-content: space-between;
}
.main-company-proposals .proposals-image .proposals-container .proposals-list .section-list div {
  display: flex;
  align-items: center;
}
.main-company-proposals .proposals-image .proposals-container .proposals-list .section-list div p {
  box-sizing: unset;
  font-size: 18px;
  line-height: 31px;
  font-feature-settings: "liga" off;
  color: #FFFFFF;
}
.main-company-proposals .proposals-image .proposals-container .proposals-list .section-list div img {
  padding-left: 55px;
}
.main-company-proposals .proposals-image .proposals-container .proposals-list .section-list .first-list-block p {
  max-width: 146px;
  width: 100%;
}
.main-company-proposals .proposals-image .proposals-container .proposals-list .section-list .second-list-block p {
  max-width: 199px;
}
.main-company-proposals .proposals-image .proposals-container .proposals-list .section-list .third-list-block p {
  max-width: 181px;
}
.main-company-proposals .proposals-image .proposals-container .proposals-list .section-list .fourth-list-block p {
  max-width: 182px;
}

.testing-block {
  padding-top: 160px;
}
.testing-block .testing-container {
  max-width: 1256px;
  margin: 0 auto;
  width: 100%;
  padding: 0 30px;
}
.testing-block .testing-container .first-testing-block {
  display: flex;
  justify-content: space-between;
}
.testing-block .testing-container .first-testing-block img {
  max-width: 504px;
}
.testing-block .testing-container .first-testing-block .first-block-info {
  max-width: 608px;
  padding-right: 30px;
}
.testing-block .testing-container .first-testing-block .first-block-info .testing-info-text {
  font-size: 64px;
  line-height: 76px;
  color: #2E2E2E;
  max-width: 608px;
  padding-bottom: 40px;
}
.testing-block .testing-container .first-testing-block .first-block-info .testing-more-info {
  font-size: 16px;
  line-height: 32px;
  color: #808080;
  max-width: 523px;
  padding-bottom: 80px;
  margin: 0;
}
.testing-block .testing-container .first-testing-block .first-block-info .testing-button {
  max-width: 160px;
  padding: 0 59px;
  height: 48px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  background: #F84646;
  border-radius: 8px;
}
.testing-block .testing-container .second-testing-block {
  padding-top: 120px;
  padding-bottom: 160px;
  display: flex;
  justify-content: space-between;
}
.testing-block .testing-container .second-testing-block .testing-second-image {
  display: none;
}
.testing-block .testing-container .second-testing-block .testing-first-image {
  max-width: 504px;
  padding-right: 30px;
}
.testing-block .testing-container .second-testing-block .second-block-info .sec-testing-info-text {
  font-size: 64px;
  line-height: 76px;
  color: #2E2E2E;
  max-width: 548px;
  padding-bottom: 40px;
  margin: 0;
}
.testing-block .testing-container .second-testing-block .second-block-info .sec-testing-more-info {
  font-size: 16px;
  line-height: 32px;
  color: #808080;
  max-width: 523px;
  padding-bottom: 80px;
  margin: 0;
}
.testing-block .testing-container .second-testing-block .second-block-info .sec-testing-button {
  width: 160px;
  height: 48px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  background: #F84646;
  border-radius: 8px;
}

.main-links {
  background-color: #F4F5F7;
}
.main-links .links-container {
  max-width: 1256px;
  margin: 0 auto;
  width: 100%;
  padding: 35px 30px;
}
.main-links .links-container .link-text {
  padding-top: 24px;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  font-feature-settings: "salt" on, "liga" off;
  color: #18191F;
}
.main-links .links-container .link-disc {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  font-feature-settings: "salt" on, "liga" off;
  color: #18191F;
  padding-bottom: 48px;
}
.main-links .links-container .link-cards {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-links .links-container .link-cards div {
  display: block;
}
.main-links .links-container .link-cards div .card {
  margin-bottom: 24px;
  margin-right: 72px;
  max-width: 170px;
  width: 100%;
  height: 96px;
  background: #FFFFFF;
  box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-links .links-container .link-cards div .card p {
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: #F84646;
  padding-right: 10px;
}

.main-contact-us .contact-us-container {
  max-width: 1256px;
  margin: 0 auto;
  width: 100%;
  padding: 0 30px;
}
.main-contact-us .contact-us-container .users-block {
  padding-top: 160px;
  padding-bottom: 37px;
  display: flex;
  justify-content: center;
}
.main-contact-us .contact-us-container .users-block .contact-ball {
  position: absolute;
  margin-left: 23px;
  margin-top: 7px;
}
.main-contact-us .contact-us-container .users-block .users {
  position: relative;
}
.main-contact-us .contact-us-container .contact-us-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 160px;
}
.main-contact-us .contact-us-container .contact-us-info .contact-us-text {
  font-weight: 800;
  font-size: 48px;
  line-height: 32px;
  text-align: center;
  color: #000000;
  padding-bottom: 20px;
}
.main-contact-us .contact-us-container .contact-us-info .contact-us-more {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #000000;
  padding-bottom: 30px;
}
.main-contact-us .contact-us-container .contact-us-info .contact-us-button {
  max-width: 204px;
  width: 100%;
  padding: 25px 0;
  background: #F84646;
  border-radius: 8px;
  font-weight: 600;
  font-size: 24px;
  line-height: 20px;
  color: #FFFFFF;
  border: none;
}

.footer {
  background: #F8464A;
}
.footer .footer-container {
  margin: 0 auto;
  max-width: 1194px;
  width: 100%;
  padding: 0 30px;
}
.footer .footer-container .footer-link {
  padding-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.footer .footer-container .footer-link .footer-column-link .column-name {
  font-weight: 700;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  padding-bottom: 24px;
}
.footer .footer-container .footer-link .footer-column-link .column-list {
  list-style-type: none;
}
.footer .footer-container .footer-link .footer-column-link .column-list a {
  text-decoration: none;
  color: #FFFFFF;
}
.footer .footer-container .footer-link .footer-column-link .column-list a :hover {
  text-decoration: underline;
}
.footer .footer-container .footer-link .footer-column-link .column-list a li {
  padding-bottom: 24px;
  font-size: 16px;
  line-height: 32px;
  color: #E6E6E6;
  font-weight: 400;
}
.footer .footer-container .copyright-social-links {
  padding-top: 50px;
  padding-bottom: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer-container .copyright-social-links .copyright {
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}
.footer .footer-container .copyright-social-links .social-links {
  display: flex;
  align-items: center;
  padding-right: 50px;
}

@media screen and (max-width: 988px) {
  .main-links .links-container {
    max-width: 860px;
  }
  .main-links .links-container .link-cards {
    padding-left: 20px;
  }
  .main-links .links-container .link-cards div .card {
    max-width: 140px;
    width: 100%;
    height: 80px;
    margin-right: 48px;
  }
}
@media only screen and (max-width: 1024px) {
  .header .header-container {
    max-width: 916px;
    box-sizing: border-box;
  }
  .header .header-container .navbar {
    padding-bottom: 86px;
  }
  .header .header-container .navbar .nav-list a {
    font-weight: 800;
    font-size: 14px;
    line-height: 20px;
  }
  .header .header-container .navbar .nav-button-support {
    font-size: 14px;
    line-height: 20px;
  }
  .header .header-container .header-information {
    max-width: 665px;
    width: 100%;
  }
  .header .header-container .header-information .information-text {
    font-size: 57px;
    line-height: 73px;
    font-weight: 800;
  }
  .header .header-container .header-information .more-information-block {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.2px;
    max-width: 565px;
  }
  .header .header-container .header-information .information-register-block .information-input {
    max-width: 220px;
  }
  .header .header-container .header-information .information-register-block .information-button {
    left: 277px;
  }

  .main-services .service-container {
    max-width: 916px;
  }
  .main-services .service-container .service-info-block .service-text {
    font-size: 36px;
    line-height: 49px;
  }
  .main-services .service-container .service-info-block .service-information {
    font-size: 24px;
    line-height: 39px;
    text-align: center;
  }
  .main-services .service-container .service-wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .main-company-proposals .proposals-image .proposals-container {
    max-width: 1004px;
  }
  .main-company-proposals .proposals-image .proposals-container .proposals-text {
    padding-top: 38px;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    font-feature-settings: "liga" off;
    color: #FFFFFF;
  }
  .main-company-proposals .proposals-image .proposals-container .proposals-list .section-list {
    justify-content: space-between;
  }
  .main-company-proposals .proposals-image .proposals-container .proposals-list .section-list div p {
    font-size: 14px;
    line-height: 21px;
    font-feature-settings: "liga" off;
  }
  .main-company-proposals .proposals-image .proposals-container .proposals-list .section-list div img {
    padding-left: 0;
    padding-right: 10px;
  }

  .testing-block .testing-container {
    max-width: 964px;
  }
  .testing-block .testing-container .first-testing-block img {
    width: 424px;
    height: 404px;
  }
  .testing-block .testing-container .first-testing-block .first-block-info {
    max-width: 515px;
  }
  .testing-block .testing-container .first-testing-block .first-block-info .testing-info-text {
    font-size: 53px;
    line-height: 59px;
    color: #2E2E2E;
    padding-bottom: 20px;
  }
  .testing-block .testing-container .first-testing-block .first-block-info .testing-more-info {
    max-width: 428px;
    font-size: 14px;
    line-height: 28px;
    color: #808080;
    padding-bottom: 46px;
  }
  .testing-block .testing-container .second-testing-block .second-block-info .sec-testing-info-text {
    max-width: 424px;
    font-size: 58px;
    line-height: 59px;
    color: #2E2E2E;
    padding-bottom: 20px;
  }
  .testing-block .testing-container .second-testing-block .second-block-info .sec-testing-more-info {
    max-width: 428px;
    font-size: 14px;
    line-height: 28px;
    color: #808080;
    padding-bottom: 46px;
  }
  .testing-block .testing-container .second-testing-block .testing-first-image {
    display: none;
  }
  .testing-block .testing-container .second-testing-block .testing-second-image {
    display: block;
    max-width: 424px;
    height: 404px;
    padding-right: 30px;
  }

  .main-links .links-container {
    max-width: 1010px;
  }
  .main-links .links-container .link-cards {
    padding-left: 20px;
  }

  .main-contact-us .contact-us-container {
    max-width: 916px;
  }

  .footer .footer-container {
    max-width: 964px;
  }
}
@media screen and (max-width: 937px) {
  .main-company-proposals {
    background-size: 100% 100%;
  }
  .main-company-proposals .proposals-image .proposals-container {
    max-width: 650px;
  }
  .main-company-proposals .proposals-image .proposals-container .proposals-list .section-list {
    flex-direction: column;
  }
  .main-company-proposals .proposals-image .proposals-container .proposals-list .section-list div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-company-proposals .proposals-image .proposals-container .proposals-list .section-list div p {
    padding-left: 0;
    text-align: center;
    font-size: 25px;
    padding-bottom: 50px;
    max-width: 250px !important;
  }
  .main-company-proposals .proposals-image .proposals-container .proposals-list .section-list div img {
    padding-left: 0;
    padding-right: 50px;
    transform: rotate(90deg);
  }
}
@media screen and (max-width: 861px) {
  .header {
    background: url("./source/header-image/background.png") no-repeat center center;
  }
  .header .burger-menu {
    display: inline-block;
  }
  .header .header-container {
    max-width: 820px;
  }
  .header .header-container .navbar {
    justify-content: space-between;
  }
  .header .header-container .navbar .main-nav {
    display: none;
  }
  .header .header-container .header-information .information-text {
    font-size: 48px;
    line-height: 57px;
    max-width: 500px;
    padding-bottom: 20px;
  }
  .header .header-container .header-information .more-information-block {
    font-size: 14px;
    line-height: 23px;
    max-width: 450px;
  }
  .header .header-container .header-information .information-register-block .information-input {
    max-width: 130px;
    width: 100%;
    font-size: 12px;
    padding-bottom: 23px;
    padding-top: 23px;
  }
  .header .header-container .header-information .information-register-block .information-button {
    left: 239px;
    top: 5px;
    max-width: 90px;
    padding: 17px 0;
    font-size: 14px;
  }

  .main-links .links-container {
    max-width: 500px;
  }
  .main-links .links-container .link-text {
    padding-top: 40px;
  }
  .main-links .links-container .link-disc {
    padding-bottom: 40px;
  }
  .main-links .links-container .link-cards {
    padding-left: 0;
    flex-direction: column;
  }
  .main-links .links-container .link-cards div .card {
    max-width: 170px;
    height: 96px;
    width: 100%;
    margin-right: 0;
    padding: 20px;
  }
  .main-links .links-container .link-cards .fourth-column {
    display: none;
  }
  .main-links .links-container .link-cards .fifth-column {
    display: none;
  }

  .testing-block .testing-container {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .testing-block .testing-container .first-testing-block {
    flex-direction: column;
    align-items: center;
  }
  .testing-block .testing-container .first-testing-block .first-block-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 2;
  }
  .testing-block .testing-container .first-testing-block .first-block-info .testing-info-text {
    padding-top: 30px;
    max-width: 335px;
    font-size: 44px;
    line-height: 41px;
    text-align: center;
  }
  .testing-block .testing-container .first-testing-block .first-block-info .testing-more-info {
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    padding-bottom: 40px;
  }
  .testing-block .testing-container .first-testing-block .first-block-info .testing-button {
    max-width: 450px;
    height: 48px;
    width: 100%;
  }
  .testing-block .testing-container .first-testing-block img {
    max-width: 504px;
    height: 480px;
    padding-right: 0;
  }
  .testing-block .testing-container .second-testing-block {
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
  }
  .testing-block .testing-container .second-testing-block .second-block-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .testing-block .testing-container .second-testing-block .second-block-info .sec-testing-info-text {
    padding-top: 30px;
    max-width: 335px;
    font-size: 44px;
    line-height: 41px;
    text-align: center;
  }
  .testing-block .testing-container .second-testing-block .second-block-info .sec-testing-more-info {
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    padding-bottom: 40px;
  }
  .testing-block .testing-container .second-testing-block .second-block-info .sec-testing-button {
    max-width: 450px;
    height: 48px;
    width: 100%;
  }
  .testing-block .testing-container .second-testing-block .testing-second-image {
    max-width: 504px;
    height: 480px;
    padding-left: 0;
  }

  .footer .footer-container .footer-link {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 616px) {
  .header .header-container {
    max-width: 570px;
  }
  .header .header-container .navbar {
    padding-bottom: 62px;
  }
  .header .header-container .header-information {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header .header-container .header-information .information-text {
    text-align: center;
    font-size: 42px;
    line-height: 57px;
    max-width: 335px;
    font-weight: 800;
  }
  .header .header-container .header-information .more-information-block {
    font-size: 12px;
    max-width: 335px;
    text-align: center;
  }
  .header .header-container .header-information .information-register-block {
    padding-bottom: 84px;
  }

  .main-block .main-services .service-container {
    max-width: 570px;
  }
  .main-block .main-services .service-container .service-info-block .service-text {
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 15px;
  }
  .main-block .main-services .service-container .service-info-block .service-information {
    font-size: 12px;
    line-height: 22px;
    max-width: 334px;
    text-align: center;
  }
  .main-block .main-services .service-container .service-wrapper {
    grid-template-columns: 1fr;
  }

  .main-company-proposals .proposals-image .proposals-container {
    max-width: 570px;
  }
  .main-company-proposals .proposals-image .proposals-container .proposals-text {
    font-size: 36px;
    line-height: 47px;
    padding-top: 50px;
    padding-bottom: 9px;
  }
  .main-company-proposals .proposals-image .proposals-container .proposals-information {
    font-size: 14px;
    line-height: 32px;
    padding-bottom: 40px;
  }
  .main-company-proposals .proposals-image .proposals-container .proposals-list .section-list div p {
    font-size: 18px;
    line-height: 25px;
    padding-bottom: 70px;
  }
  .main-company-proposals .proposals-image .proposals-container .proposals-list .section-list div img {
    padding-right: 70px;
  }

  .testing-block {
    padding-top: 90px;
  }
  .testing-block .testing-container {
    max-width: 570px;
  }
  .testing-block .testing-container .first-testing-block .first-block-info .testing-info-text {
    max-width: 335px;
    font-size: 36px;
  }
  .testing-block .testing-container .first-testing-block .first-block-info .testing-more-info {
    font-size: 14px;
    max-width: 336px;
  }
  .testing-block .testing-container .first-testing-block .first-block-info .testing-button {
    max-width: 338px;
    height: 48px;
  }
  .testing-block .testing-container .first-testing-block img {
    max-width: 335px;
    height: 312px;
    padding-right: 0;
  }
  .testing-block .testing-container .second-testing-block {
    padding-bottom: 79px;
  }
  .testing-block .testing-container .second-testing-block .second-block-info .sec-testing-info-text {
    max-width: 335px;
    font-size: 36px;
  }
  .testing-block .testing-container .second-testing-block .second-block-info .sec-testing-more-info {
    font-size: 14px;
    max-width: 336px;
  }
  .testing-block .testing-container .second-testing-block .second-block-info .sec-testing-button {
    max-width: 338px;
    height: 48px;
    width: 100%;
  }
  .testing-block .testing-container .second-testing-block .testing-second-image {
    max-width: 335px;
    height: 312px;
    padding-left: 0;
  }

  .main-links .links-container {
    max-width: 570px;
  }
  .main-links .links-container .link-text {
    font-size: 36px;
    line-height: 41px;
  }
  .main-links .links-container .link-disc {
    font-weight: 500;
    font-size: 14px;
    line-height: 32px;
  }

  .main-contact-us .contact-us-container {
    max-width: 570px;
  }
  .main-contact-us .contact-us-container .users-block {
    padding-top: 94px;
  }
  .main-contact-us .contact-us-container .contact-us-info {
    padding-bottom: 82px;
  }
  .main-contact-us .contact-us-container .contact-us-info .contact-us-text {
    font-weight: 800;
    font-size: 36px;
    line-height: 32px;
  }
  .main-contact-us .contact-us-container .contact-us-info .contact-us-more {
    max-width: 335px;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
  }
  .main-contact-us .contact-us-container .contact-us-info .contact-us-button {
    max-width: 124px;
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    padding: 11px 0;
  }

  .footer .footer-container {
    max-width: 570px;
  }
  .footer .footer-container .footer-link {
    grid-template-columns: 1fr;
  }
  .footer .footer-container .footer-link .footer-column-link p {
    font-size: 16px;
    line-height: 24px;
  }
  .footer .footer-container .copyright-social-links {
    padding-bottom: 77px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .footer .footer-container .copyright-social-links .social-links {
    padding-bottom: 70px;
  }
  .footer .footer-container .copyright-social-links .copyright {
    order: 2;
  }
}
.burger-menu {
  display: none;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 25px;
  height: 3px;
  background-color: #616161;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-8px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-7px, -5px);
}

.burger-menu-list {
  background-color: #e1e1e1;
  box-shadow: 0px 0px 15px 0px;
  width: 100%;
  height: 370px;
  position: absolute;
  display: none;
  left: 0;
  top: 0;
}
.burger-menu-list .burger-container {
  margin: 0 auto;
  max-width: 400px;
  height: 430px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.burger-menu-list .burger-container .burger-list {
  list-style-type: none;
}
.burger-menu-list .burger-container .burger-list li {
  padding-top: 20px;
  font-size: 18px;
  text-align: center;
}
.burger-menu-list .burger-container .burger-list li :hover {
  text-decoration: underline;
}
.burger-menu-list .burger-container .burger-list li a {
  color: #333;
  text-decoration: none;
}

.show {
  display: block;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Manrope", sans-serif;
}

div, p, a, img, form, button {
  box-sizing: border-box;
  margin: 0;
}

ul, li, input {
  margin: 0;
  padding: 0;
}

h1, h2 {
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=style.css.map */
