@media screen and (max-width: 988px) {
  .main-links .links-container {
    max-width: 860px;
  }
  .main-links .links-container .link-cards {
    padding-left: 20px;
  }
  .main-links .links-container .link-cards div .card {
    max-width: 140px;
    width: 100%;
    height: 80px;
    margin-right: 48px;
  }
}
@media only screen and (max-width: 1024px) {
  .header .header-container {
    max-width: 916px;
    box-sizing: border-box;
  }
  .header .header-container .navbar {
    padding-bottom: 86px;
  }
  .header .header-container .navbar .nav-list a {
    font-weight: 800;
    font-size: 14px;
    line-height: 20px;
  }
  .header .header-container .navbar .nav-button-support {
    font-size: 14px;
    line-height: 20px;
  }
  .header .header-container .header-information {
    max-width: 665px;
    width: 100%;
  }
  .header .header-container .header-information .information-text {
    font-size: 57px;
    line-height: 73px;
    font-weight: 800;
  }
  .header .header-container .header-information .more-information-block {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.2px;
    max-width: 565px;
  }
  .header .header-container .header-information .information-register-block .information-input {
    max-width: 220px;
  }
  .header .header-container .header-information .information-register-block .information-button {
    left: 280px;
    top: 8px;
  }

  .main-services .service-container {
    max-width: 916px;
  }
  .main-services .service-container .service-info-block .service-text {
    font-size: 36px;
    line-height: 49px;
  }
  .main-services .service-container .service-info-block .service-information {
    font-size: 24px;
    line-height: 39px;
    text-align: center;
  }
  .main-services .service-container .service-wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .main-company-proposals .proposals-image .proposals-container {
    max-width: 1004px;
    padding-bottom: 50px;
  }
  .main-company-proposals .proposals-image .proposals-container .proposals-text {
    padding-top: 38px;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    font-feature-settings: "liga" off;
    color: #FFFFFF;
  }
  .main-company-proposals .proposals-image .proposals-container .proposals-list .section-list {
    justify-content: space-between;
  }
  .main-company-proposals .proposals-image .proposals-container .proposals-list .section-list div p {
    font-size: 14px;
    line-height: 21px;
    font-feature-settings: "liga" off;
  }
  .main-company-proposals .proposals-image .proposals-container .proposals-list .section-list div img {
    padding-left: 0;
    padding-right: 10px;
  }

  .testing-block .testing-container {
    max-width: 964px;
  }
  .testing-block .testing-container .first-testing-block img {
    width: 424px;
    height: 404px;
  }
  .testing-block .testing-container .first-testing-block .first-block-info {
    max-width: 515px;
  }
  .testing-block .testing-container .first-testing-block .first-block-info .testing-info-text {
    font-size: 53px;
    line-height: 59px;
    color: #2E2E2E;
    padding-bottom: 20px;
  }
  .testing-block .testing-container .first-testing-block .first-block-info .testing-more-info {
    max-width: 428px;
    font-size: 14px;
    line-height: 28px;
    color: #808080;
    padding-bottom: 46px;
  }
  .testing-block .testing-container .second-testing-block {
    padding-bottom: 120px;
  }
  .testing-block .testing-container .second-testing-block .second-block-info .sec-testing-info-text {
    max-width: 424px;
    font-size: 58px;
    line-height: 59px;
    color: #2E2E2E;
    padding-bottom: 20px;
  }
  .testing-block .testing-container .second-testing-block .second-block-info .sec-testing-more-info {
    max-width: 428px;
    font-size: 14px;
    line-height: 28px;
    color: #808080;
    padding-bottom: 46px;
  }
  .testing-block .testing-container .second-testing-block .testing-first-image {
    display: none;
  }
  .testing-block .testing-container .second-testing-block .testing-second-image {
    display: block;
    max-width: 424px;
    height: 404px;
    padding-right: 30px;
  }

  .main-links .links-container {
    max-width: 1010px;
  }
  .main-links .links-container .link-cards {
    padding-left: 20px;
  }

  .main-contact-us .contact-us-container {
    max-width: 916px;
  }

  .footer .footer-container {
    max-width: 964px;
  }
}
@media screen and (max-width: 937px) {
  .main-company-proposals {
    background-size: 100% 100%;
  }
  .main-company-proposals .proposals-image .proposals-container {
    max-width: 650px;
  }
  .main-company-proposals .proposals-image .proposals-container .proposals-list .section-list {
    flex-direction: column;
  }
  .main-company-proposals .proposals-image .proposals-container .proposals-list .section-list div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-company-proposals .proposals-image .proposals-container .proposals-list .section-list div p {
    padding-left: 0;
    text-align: center;
    font-size: 25px;
    padding-bottom: 50px;
    max-width: 250px !important;
  }
  .main-company-proposals .proposals-image .proposals-container .proposals-list .section-list div img {
    padding-left: 0;
    padding-right: 50px;
    transform: rotate(90deg);
  }
}
@media screen and (max-width: 861px) {
  .header {
    background: url("./source/header-image/background.png") no-repeat center center;
  }
  .header .burger-menu {
    display: inline-block;
  }
  .header .header-container {
    max-width: 820px;
  }
  .header .header-container .navbar {
    justify-content: space-between;
  }
  .header .header-container .navbar .main-nav {
    display: none;
  }
  .header .header-container .header-information .information-text {
    font-size: 48px;
    line-height: 57px;
    max-width: 500px;
    padding-bottom: 20px;
  }
  .header .header-container .header-information .more-information-block {
    font-size: 14px;
    line-height: 23px;
    max-width: 450px;
  }
  .header .header-container .header-information .information-register-block .information-input {
    max-width: 130px;
    width: 100%;
    font-size: 12px;
    padding-bottom: 23px;
    padding-top: 23px;
  }
  .header .header-container .header-information .information-register-block .information-button {
    left: 239px;
    top: 5px;
    max-width: 90px;
    padding: 17px 0;
    font-size: 14px;
  }

  .main-links .links-container {
    max-width: 500px;
  }
  .main-links .links-container .link-text {
    padding-top: 40px;
  }
  .main-links .links-container .link-disc {
    padding-bottom: 40px;
  }
  .main-links .links-container .link-cards {
    padding-left: 0;
    flex-direction: column;
  }
  .main-links .links-container .link-cards div .card {
    max-width: 170px;
    height: 96px;
    width: 100%;
    margin-right: 0;
    padding: 20px;
  }
  .main-links .links-container .link-cards .fourth-column {
    display: none;
  }
  .main-links .links-container .link-cards .fifth-column {
    display: none;
  }

  .testing-block .testing-container {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .testing-block .testing-container .first-testing-block {
    flex-direction: column;
    align-items: center;
  }
  .testing-block .testing-container .first-testing-block .first-block-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 2;
    padding-right: unset;
  }
  .testing-block .testing-container .first-testing-block .first-block-info .testing-info-text {
    padding-top: 30px;
    max-width: 335px;
    font-size: 44px;
    line-height: 41px;
    text-align: center;
  }
  .testing-block .testing-container .first-testing-block .first-block-info .testing-more-info {
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    padding-bottom: 40px;
  }
  .testing-block .testing-container .first-testing-block .first-block-info .testing-button {
    max-width: 450px;
    width: 100%;
  }
  .testing-block .testing-container .first-testing-block img {
    max-width: 424px;
    height: unset;
    padding-right: 0;
  }
  .testing-block .testing-container .second-testing-block {
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
  }
  .testing-block .testing-container .second-testing-block .second-block-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .testing-block .testing-container .second-testing-block .second-block-info .sec-testing-info-text {
    padding-top: 30px;
    max-width: 335px;
    font-size: 44px;
    line-height: 41px;
    text-align: center;
  }
  .testing-block .testing-container .second-testing-block .second-block-info .sec-testing-more-info {
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    padding-bottom: 40px;
  }
  .testing-block .testing-container .second-testing-block .second-block-info .sec-testing-button {
    max-width: 450px;
    width: 100%;
  }
  .testing-block .testing-container .second-testing-block .testing-second-image {
    max-width: 424px;
    height: unset;
    padding: 0;
  }

  .footer .footer-container .footer-link {
    grid-template-columns: 1fr 1fr;
  }
}

/*# sourceMappingURL=tablet_adaptation.css.map */
